.comp-training {
    padding: 100px 0;
}

.comp-training .container .row {
    display: flex;
}

.comp-training .container .row .side-menu {
    width: 30%;
}

.comp-training .container .row main {
    width: 60%;
}