.services-section {
    padding: 100px 0;
    background-image: url('/public/services-section-bg.png');
    background-color: var(--primary-color);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.services-section .container .services-top h4 {
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

.services-section .container .services-top h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
    text-align: center;
}

.services-section .container .services-bottom .row {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.services-section .container .services-bottom .row .card {
    background: white;
    border-radius: 20px;
    padding: 30px;
    height: 100%;
}

.services-section .container .services-bottom .row .card .card-top {
    display: flex;
    align-items: center;
    gap: 20px;
}

.services-section .container .services-bottom .row .card .card-top {
    margin-bottom: 30px;
}

.services-section .container .services-bottom .row .card .card-top .service-icon {
    width: 80px;
    height: 80px;
    background: #ECF6FA;
    padding: 20px;
    border-radius: 50%;
    border: 1px solid #DCE7EC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-section .container .services-bottom .row .card .card-top .v-divide {
    background: #DCE7EC;
    height: 41px;
    width: 2px;
}

.services-section .container .services-bottom .row .card .card-top .service-name-company h5{
    font-size: 22px;
    font-weight: 600;
}

.services-section .container .services-bottom .row .card .card-bottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.services-section .container .services-bottom .row .card .card-bottom p {
    text-align: justify;
}

.services-section .container .services-bottom .row .card .card-bottom button {
    width: fit-content;
    align-self: end;
    justify-self: end;
}

@media only screen and (max-width: 769px) {
    .services-section .container .services-top h2 {
        font-size: 32px;
    }

    .services-section .container .services-bottom .row {
        gap: 50px;
    }
}