.hero {
  height: 600px;
  background-image: radial-gradient(farthest-side at 0% 0%, #dbe7fb, #d7d5d3);
}

.hero-message {
  width: 630px;
  margin-top: 100px;
}

.hero-message h1 {
  color: var(--primary-color);
  font-size: 3.75rem;
  font-weight: 700;
}

.hero-message h1 span {
  color: var(--secondary-color);
}

.hero-message p {
    margin-top: 15px;
    font-size: 1rem;
}