<div class="hero">
  <div class="container">
    <div class="hero-content d-flex justify-content-between">
      <div class="hero-message">
        <h1>
          Unlock Your <span>Business' Potential</span> with Our Expert Solutions
        </h1>
        <p>
          Business consulting company that leverage the use of a modern and
          up-to-date approach to convert your goal into reality.
        </p>
        <i class="bi bi-arrow-right"></i>
        <button>Get Started </button>
      </div>
      <div class="hero-image">picture</div>
    </div>
  </div>
</div>
