.gen-printing {
    padding: 100px 0;
}

.gen-printing .container .row {
    display: flex;
}

.gen-printing .container .row .side-menu {
    width: 30%;
}

.gen-printing .container .row main {
    width: 70%;
}

.gen-printing .container .row main .gen-printing-img {
  display: flex;
  align-items: start;
  justify-content: start;
}

.gen-printing .container .row main .gen-printing-img1 {
  width: 400px;
  margin-right: -70px;
  margin-top: 20%;
  z-index: 1;
}

.gen-printing .container .row main .gen-printing-img1 img {
  border-radius: 20px;
  border: 6px solid white;
  width: 100%;
}

.gen-printing .container .row main .gen-printing-img2 {
    width: 60%;
}

.gen-printing .container .row main .gen-printing-img2 img {
    width: 100%;
    border-radius: 20px;
}

.gen-printing .container .row main .contents {
    margin-top: 100px;
}

.gen-printing .container .row main .contents h2 {
    font-size: 24px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 20px;
}

.gen-printing .container .row main .contents p{
    line-height: 26px;
    font-size: 1rem;
    text-align: justify;
    margin-bottom: 10px;
}

.gen-printing .container .row main .contents h4 {
    font-size: 20px;
    color: var(--primary-color);
    margin: 30px 0 20px 0;
}

.gen-printing .container .row main .contents .list {
    list-style: none;
    list-style-position: outside;
}

.gen-printing .container .row main .contents .list .list-items {
    padding-bottom: 15px;
    padding-left: 20px;
}

.gen-printing .container .row main .contents .list .list-items::before {
    content: "\2a";
    font-family: "Font Awesome 5 Free";
    padding: 0px 10px 0 0;
    margin-left: -20px;
    color: var(--secondary-color);
}


@media only screen and (max-width: 769px) {
.gen-printing .container .row {
        flex-direction: column-reverse;
    }

    .gen-printing .container .row .side-menu {
  width: 100%;
}

.gen-printing .container .row main {
  width: 100%;
}

.gen-printing .container .row main .gen-printing-img {
    flex-direction: column-reverse;
}

.gen-printing .container .row main .gen-printing-img1 {
    width: 100%;
    margin: 0;
}

.gen-printing .container .row main .gen-printing-img2 {
    width: 100%;
    margin-bottom: 50px;
}

.gen-printing .container .row main .gen-printing-img2 img {
    width: 100%;
}

.gen-printing .container .row main .contents {
    margin-bottom: 50px;
}

.gen-printing .container .row main .contents {
    margin-top: 50px;
}

.gen-printing .container .row main .contents h2 {
    font-size: 20px;
    text-align: center;
}

.gen-printing .container .row main .contents p {
    text-align: left;
}

.gen-printing .container .row main .contents h4 {
    font-size: 18px;
    text-align: center;
}

}