.contact-section {
    padding: 100px 0 0 0;
    margin-bottom: 100px;
    background-image: linear-gradient(#9ECBDE, #8BBED3);
}

.contact-section .container .row {
    display: flex;
}

.contact-section .container .row .cs-left {
    display: flex;
    align-items: center;
}

.contact-section .container .row .cs-left .contact-box {
    background: var(--primary-color);
    padding: 60px 40px;
    border-radius: 20px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.contact-section .container .row .cs-left .contact-box h2 {
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.contact-section .container .row .cs-left .contact-box .phone-box {
    display: flex;
    gap: 20px;
    align-items: center;
}

.contact-section .container .row .cs-left .contact-box .phone-box i {
    color: white;
    font-size: 32px;
}

.contact-section .container .row .cs-left .contact-box .phone-box .phone-detail {
    color: white;
    font-size: 24px;
    font-weight: 600;
}

.contact-section .container .row .cs-left .contact-box .phone-box .phone-detail span{
    font-size: 14px;
    padding-bottom: 30px;
}

.contact-section .container .row .cs-left .contact-box button {
    width: fit-content;
}

@media only screen and (max-width: 769px) {
    .contact-section .container .row {
    flex-direction: column;
}
}