.bus-reg {
    padding: 100px 0;
}

.bus-reg .container .row {
    width: 100%;
    display: flex;
}

.bus-reg .container .row .side-menu {
    width: 30%;
}

.bus-reg .container .row main {
    width: 70%;
    padding: 0 20px;
}

.bus-reg .container .row main img {
    border-radius: 10px;
    width: 100%;
}